/* IE */
main {
  display:block;
}

header {
  margin: 3em 0;
}

header h1 {
  text-align: center;
  padding: 1em 0;
}

header section {
  margin: 3em 0;
}

header section.tags {
  text-align: center;
}

main section {
  margin: 3em 0;
}

main section .card {
  margin: 1em 0;
}



footer {
  text-align: center;
  padding: 3em 0;
}

footer a {
  margin: 1em;
}
