{% extends "demostat/base.html" %}

{% block title %}Über Demostat{% endblock %}

{% block header %}
<h1 class="display-4">Über Demostat</h1>
{% endblock%}

{% block content %}
<section>
  <blockquote class="blockquote">
    <p class="mb-0">Wie, gestern war wieder eine Demo? Warum weiß ich davon nix?</p>
  </blockquote>

  <p>Leider ist diese Frage hier viel zu oft vorgekommen. Das wollen wir ändern und habe diese Website geschaffen. Auf einem Blick alle Demos der nächsten vier Wochen. Dazu gleich eine Übersichtskarte, wo sich getroffen wird und Links zu offiziellen Aufrufen, Livetickern und anderweitiges Material.</p>

  <p>Findet die Demo erst in weiter Zukunft statt oder ist schon lange vorbei? Dann lohnt sich ein Blick in das Archiv. Sortiert nach Jahr, Monat und Tag und (blad) filterbar.</p>

  <p>Wer steckt hinter der Demo? Auch das lässt sich ganz einfach herausfinden. Zu jeder Organisation gibt es eine kleine Zusammenfassung mit Links zur Homepage.</p>
</section>
<section>
  <h3>Meta</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Software</h5>
          <p class="card-text">Diese Software hinter dieser Website nennt sich Demostat.</p>
        </div>
        <div class="list-group list-group-flush">
          <a href="https://demostat.de/" class="list-group-item">Website</a>
          <a href="https://github.com/demostat/demostat/" class="list-group-item">GitHub</a>
          <a href="https://docs.demostat.de/" class="list-group-item">Dokumentation</a>
          <a href="https://liberapay.com/demostat/" class="list-group-item">Spenden</a>
          <div class="list-group-item">Version: {{ DEMOSTAT_RELEASE }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Entwickler</h5>
          <p class="card-text">Die Entwickler hinter Demostat.</p>
        </div>
        <div class="list-group list-group-flush">
          <a href="https://clerie.de/" class="list-group-item">Clemens Riese</a>
          <a href="https://morizt-fromm.de/" class="list-group-item">Moritz Fromm</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Unterstützen</h5>
          <p class="card-text">So ein Großprojekt wird nie fertig, um etwas Unterstützung würden wir uns deshalb sehr freuen.</p>
        </div>
        <div class="list-group list-group-flush">
          <a href="https://github.com/demostat/demostat/" class="list-group-item">GitHub</a>
          <a href="https://liberapay.com/demostat/" class="list-group-item">Spenden</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
