{% load static %}

<!doctype html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'demostat/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'demostat/demostat/css/style.css' %}">
    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock %} | {% if SITE_TITLE %}{{ SITE_TITLE }}{% else %}Demostat{% endif %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'demostat:index' %}">{% if SITE_TITLE %}{{ SITE_TITLE }}{% else %}Demostat{% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'demostat:about' %}">Über</a>
            </li>
          </ul>
          <a href="#" class="btn btn-primary">Demo eintragen</a>
        </div>
      </div>
    </nav>
    <header>
      <div class="container">
        {% block header %}
        {% endblock %}
      </div>
    </header>
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer>
      <div class="container">
        <a href="{% url 'demostat:about' %}">Über</a>
        <a href="{% url 'demostat:demos' %}">Archiv</a>
        {% if SITE_IMPRINT_URL %}<a href="{{ SITE_IMPRINT_URL }}" target="_blank">Impressum</a>{% endif %}
        {% if SITE_PRIVACY_URL %}<a href="{{ SITE_PRIVACY_URL }}" target="_blank">Datenschutz</a>{% endif %}
        <a href="https://github.com/demostat/demostat" target="_blank">Quellcode auf GitHub</a>
        {% if DEMOSTAT_DEVELOP %}<span class="badge badge-danger">{{ DEMOSTAT_RELEASE }}</span>{% endif %}
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'demostat/jquery/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'demostat/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'demostat/demostat/js/script.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
